## 1

A database is a structured collection of data that is organized, stored, and managed in a way that allows efficient retrieval, updating, and manipulation of information. Databases are used to store and manage large volumes of data for various applications, ranging from simple data storage to complex business processes.

Difference between SQL and NoSQL databases are:

1.SQL (Structured Query Language) databases, also known as relational databases, are based on the relational model, which represents data in the form of tables with rows and columns while NoSQL (Not Only SQL) databases are  non-relational databases which includes a variety of database systems that differ from traditional relational databases in terms of data models, query languages, and storage architectures.

2.In SQL data is organized into structured tables with predefined schemas while NoSQL databases can handle dynamic and evolving data structures without predefined schemas.

3.In SQL  data is consistent and follows strict integrity rules defined by the schema while NoSQL databases often prioritize availability and partition tolerance over immediate consistency.

4.SQL uses normalized data structure while NoSQL uses denormalized data structure

5.SQL follows ACID properties (Atomicity, Consistency, Isolation, Durability) for transaction management while NoSQL doesn't.

6.SQL supports joins and complex queries while NoSQL doesn't.

7.SQL requires vertical scaling to handle large volumes of data while NoSQL requires horizontal scaling to handle large volumes of data

8.Examples of SQL databases:MySQL, PostgreSQL, Oracle, SQL Server, Microsoft SQL Server
Examples of NoSQL databases:MongoDB, Cassandra, Couchbase, Amazon DynamoDB, Redis

## 2

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database, including creating, modifying, and deleting database objects such as tables, indexes, and constraints. DDL statements do not manipulate the data within the tables; instead, they focus on the structure and organization of the data.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, and schemas. It defines the structure and attributes of the object being created.

Ex:--CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(20),
    LastName VARCHAR(20),
    Department VARCHAR(30)
);

DROP: The DROP statement is used to remove existing database objects, such as tables, indexes, views, or even entire databases. This permanently deletes the object and its associated data.

Ex:- dropping employees table- DROP TABLE Employees;

ALTER:The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, constraints, and other object attributes.

Ex:--altering employees table-adding email field

ALTER TABLE Employees
ADD Email VARCHAR(30);

TRUNCATE:The TRUNCATE statement is used to remove all rows from a table, effectively resetting it to an empty state. Unlike the DELETE statement, which removes rows one by one and can be rolled back, TRUNCATE is more efficient and cannot be rolled back.

Ex:TRUNCATE TABLE Employees;--will remove all rows from employees table

## 3

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that deals with the manipulation and processing of data within a database. DML statements are used to insert, update, retrieve, and delete data from database tables.

INSERT:The INSERT statement is used to add new records (rows) to a table. It specifies the table's name and the values to be inserted into the columns.

Ex:-INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'Monalisha', 'Pati', 'Tech');

INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (2, 'ABc', 'Test', 'Tech');

---So here two rows entered in table employees

|EmployeeID|FirstName |LastName|Department|
|:--------:|:--------:|:------:|---------:|
|1         |Monalisha |Pati    |Tech      |
|2         |ABc       |Test    |Tech      |

UPDATE :The UPDATE statement is used to modify existing records in a table. It allows us to change the values of specific columns in one or more rows that match a given condition.

Ex:-UPDATE Employees
SET Department = 'Support'
WHERE EmployeeID = 1; --After executing this statement those records will be updated where employee id is 1.

final result after this in db--

|Col 1|Col 2    |Col 3|Col 4  |
|:---:|:-------:|:---:|------:|
|1    |Monalisha|Pati |Support|
|2    |ABc      |Test |Tech   |

DELETE :The DELETE statement is used to remove records from a table based on a specified condition. It deletes entire rows that meet the specified criteria.

Ex:-DELETE FROM Employees
WHERE EmployeeID = 1;--After executing this statement those records will be deleted where employee id is 1.

final result after this in db--

|EmployeeID|FirstName |LastName|Department|
|:--------:|:--------:|:------:|---------:|
|2         |ABc       |Test    |Tech      |

## 4

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is primarily concerned with retrieving data from a database. DQL statements are used to query and retrieve specific information from one or more tables within a database. The most common and fundamental DQL statement is the SELECT statement.

SELECT Statement:The SELECT statement is used to retrieve data from one or more tables in a database. It allows us to specify which columns we want to retrieve, the table(s) we want to retrieve the data from, and optional conditions to filter the data.

SELECT EmployeeID, FirstName, LastName, Department
FROM Employees
WHERE Department = 'Tech';

In this example, the SELECT statement retrieves the "EmployeeID," "FirstName," "LastName," and "Department" columns from the "Employees" table. The WHERE clause filters the results to only include employees from the "Tech" department.

## 5

Primary Key:A primary key is a unique identifier for a record in a database table. It uniquely identifies each row within the table, and no two rows can have the same primary key value. The primary key enforces data integrity and ensures that each record can be uniquely identified. It also serves as a reference point for establishing relationships between different tables.

Key characteristics of a primary key:

Uniqueness: Each value in the primary key column must be unique within the table.

Non-null: The primary key column cannot contain null values.

Stability: The primary key value should not change for the lifetime of the record.

Indexed: The primary key is often automatically indexed for fast retrieval.

Example:
Consider an "Employees" table with an "EmployeeID" column as the primary key. Each employee has a unique employee ID that serves as the primary key for identifying individual employees in the table.

Foreign Key:A foreign key is a column or set of columns in a database table that establishes a link between the data in two tables. It creates a relationship between the tables based on the values in the foreign key column and the primary key column of another table. The purpose of foreign keys is to maintain referential integrity, ensuring that the data in related tables remains consistent.

Key characteristics of a foreign key:

References: A foreign key references the primary key of another table, establishing a relationship between them.

Maintains Referential Integrity: The foreign key ensures that values in the referencing table (child table) correspond to valid values in the referenced table (parent table).

May Allow Nulls: Depending on the design, a foreign key column might allow null values to represent missing or optional relationships.

Enables Joins: Foreign keys enable the creation of joins between tables to retrieve related data.

Example:
Continuing with the "Employees" example, let's assume there is another table called "Departments" with a primary key "DepartmentID." We can establish a relationship between the "Employees" and "Departments" tables using a foreign key:

In the "Employees" table:
EmployeeID | FirstName | LastName | DepartmentID (Foreign Key)
-----------|-----------|----------|-------------------------
1          | Mona      |Pati      | 101
2          | ABc       |Xyz       | 102

In the "Departments" table:

DepartmentID | DepartmentName
-------------|---------------
101          | Tech
102          | Support

In this example, the "DepartmentID" column in the "Employees" table is a foreign key that references the "DepartmentID" primary key column in the "Departments" table. This establishes a relationship between employees and their respective departments. The foreign key ensures that the "DepartmentID" values in the "Employees" table correspond to valid department IDs in the "Departments" table, maintaining referential integrity.

## 6

import mysql.connector

#Establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="pasword",
  database="database_name"
)

# Create a cursor object to interact with the database
mycursor = mydb.cursor()

# Execute a SQL query using the execute() method
query = "SELECT * FROM Employees"
mycursor.execute(query)

# Fetch the results using the fetchall() method
results = mycursor.fetchall()

# Display the fetched results
for row in results:
    print(row)

# Close the cursor and the database connection
mycursor.close()
mydb.close()

The cursor() method is used to create a cursor object that allows us to interact with a database by executing SQL queries and fetching results. A cursor acts as a pointer or a handle to a specific location within the result set of a query. It provides methods for executing queries, fetching data, and managing transactions. 

The execute() method is used to execute SQL statements or queries through a cursor object. It takes an SQL statement as its argument and sends it to the MySQL server for execution.

## 7

The order of execution of SQL clauses in a query generally follows a logical sequence, although it's important to note that the actual execution order might be optimized by the database management system's query optimizer.

The typical order of execution for SQL clauses in a query:

FROM: The FROM clause specifies the tables from which data will be retrieved. This is the starting point of the query and defines the source tables for the subsequent operations.

JOIN: If the query involves joining multiple tables, the JOIN clauses specify how the tables are connected based on common columns. Different types of joins (INNER, LEFT, RIGHT, FULL) determine which records from the tables are included in the result set.

WHERE: The WHERE clause filters the rows from the tables based on specified conditions. Only the rows that satisfy the conditions in the WHERE clause are included in the result set.

GROUP BY: If grouping is required, the GROUP BY clause organizes rows into groups based on specified columns. Aggregation functions (such as SUM, COUNT, AVG) can be used on the grouped data.

HAVING: The HAVING clause filters the groups created by the GROUP BY clause based on aggregate conditions. It's similar to the WHERE clause but operates on groups instead of individual rows.

SELECT: The SELECT clause determines which columns from the tables or expressions are included in the result set. It comes after filtering, joining, grouping, and aggregating operations.

DISTINCT: If the DISTINCT keyword is used, duplicate rows are removed from the result set.

ORDER BY: The ORDER BY clause specifies the order in which the rows in the result set are presented. It comes after all other clauses to ensure that the final output is ordered as desired.

LIMIT/OFFSET: If supported by the database, the LIMIT and OFFSET clauses restrict the number of rows returned and specify a starting point within the result set.

The query optimizer of the database management system may reorder or optimize these clauses for performance reasons. This means that the order of execution might not exactly follow the logical sequence described above, but the end result will be the same as long as the query semantics are preserved.